body {
  margin: 0;
}

header {
  background-color: lightgreen;
  min-height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center
    
    & ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
}